@(message: String)

@import tags._
@import helper._
@import helpers.Seguranca.InformacoesUsuarioHelper._ 

@main {
    
  @*  @play20.welcome(message, style = "Java") *@
  
	<div class="row">   	
	   	<div class="span8">		
			<div>	
				<h1 align="center">Pesquisa e Inovação do IFRN</h1>
				<h4 style="font-weight:normal;  margin-bottom:20px;">O SIGEPI é um sistema de informação para o gerenciamento de projetos de pesquisa da Pró-Reitoria de Pesquisa e Inovação do IFRN.</h4>
					<div class="well" style="text-align:center; padding-top:10px;" >
					<img style="padding:15.5px 0;" src="@routes.Assets.at("images/imagem01.jpg")" />
				</div>
				<h4 style="font-weight:normal;  margin-bottom:20px;">Inscrição de trabalhos científicos e tecnológicos para submissão ao IX Congresso de Iniciação Científica do IFRN.</h4>
			</div>
		</div>
		<div class="span4" style="padding:50px 0 60px 0;">
			<br>
			<br>
			<h2 class="titulo" align="center">IX CONGIC</h2>
			<h5 align="center">Congresso de Iniciação Científica do IFRN</h5>
			<br>
			<br>			
			@if(!isLogado()) {
				<center>
					<a href="@routes.Sessions.login" class="btn-large btn-primary">Inscrever Artigo</a>
				</center>
			}		
		</div>
	</div>
	
}